
<router-outlet>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover:not(.active) {
          background-color: #4CAF50;
        }
        
        .active {
          background-color: #4CAF50;
        }
        </style>
        
        <ul>
          <li><a href="Home">Home</a></li>
          <li><a href="Ambulance">Ambulance</a></li>
          <li><a href="Accidents">Accidents</a></li>
        </ul>
    
</router-outlet>
